
<div class="pmb-block">
    <img class="img-responsive p-b-10" src="assets/img/caracteristicas-principal.jpg">

     <p class="p-t-5 p-l-20 p-r-20 text-justify">Easy dance llega con el objetivo   resolver los problemas  organizativos, que surgen a través de las múltiples  características específicas en el ecosistema del baile , tales como , clases grupales y privadas , show de las  compañías  de baile , eventos de exhibición y competencia , graduaciones, inscripción , reserva  y compra  en línea  ,presupuesto de  montajes coreográficos ,entre otras  actividades,  que impactan en gran medida a nuestros gremio , que se ve afectado por la falta de herramientas  organizacional . </p>

    <h3 class=""> Misión </h3>

    <p class="p-t-10 p-l-20 p-r-20 text-justify" >Hacer del ecosistema del baile un mejor lugar, más organizado  y transparente a nivel global, aprovechando el uso de la tecnología para brindar en gran  medida valor a los usuarios, directores de academia, bailarines e instructores.</p>

    <h3 class="">Visión</h3>

    <p class="p-t-10 p-l-20 p-r-20 text-justify"  >
      Easy dance trazará una nueva forma y estilo a nivel internacional, todos conectados en una gran comunidad, vemos a  cientos de miles de persona compartiendo a través de la aplicación.
    </p>

    <hr>

    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Resumen</h2>

        <ul class="actions" data-ng-if="user.editSummary === 0">
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="easyDance.editSummary = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="easyDance.editSummary === 0">
            <p>Easy Dance es una aplicación Online dirigida a la gestión de las academias de baile, con el propósito de organizar las actividades que involucran a: Directores de academias, instructores de baile, alumnos  y todas aquellas personas interesadas en aprender a bailar de una manera más fácil. La aplicación se encuentra en una  etapa temprana, hemos lanzado al mercado  la primera  fase del proyecto, en el que pondremos a prueba la adaptabilidad del mercado con el uso de las nuevas tecnologías. Nuestro equipo se encuentra laborando arduamente para ir incrementando las características de manera periódica y de ese modo ir creando de la aplicación  una herramienta más completa  que contribuya de manera sustancial con el ecosistema del baile.</p> 

            <p>Easy dance se encuentra en un proceso de periodo de prueba (Fase Beta) completamente abierta para cualquier academia de baile que desee integrarse, haciendo  uso y prueba de nuestro proyecto piloto. Por tal motivo invitamos a toda la comunidad de baile a participar generando invitaciones a todas aquellas academias que aún no conocen la herramienta.</p>
        </div>

        <form data-ng-submit="easyDance.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="easyDance.editSummary === 1">
            <div class="fg-line">
                <textarea data-ng-model="easyDance.profileSummary" class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
            </div>
            <div class="m-t-10">
                <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="easyDance.editSummary = 0" >Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Proyectos a corto y mediano plazo</h2>
        
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="easyDance.editInfo === 0">
           
            <dl class="dl-horizontal">
               <p><i class="zmdi zmdi-check c-verde"></i> Inscripción en línea</p>  
                           
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Reservaciones  y compra en línea</p>                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Clases personalizadas</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Gift card (tarjetas de regalo)</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Talleres ,fiestas y eventos </p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Promociones y descuentos</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Prueba y examen para alumnos</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Fundación</p>
                              
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Ranking de alumnos y academias</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Traducción al idioma inglés</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Chat y mensajería entre alumnos , instructores  y directores</p>
                                
            </dl>
            <dl class="dl-horizontal">
                <p><i class="zmdi zmdi-check c-verde"></i> Talleres y tutoriales de baile</p>
                
                
            </dl>
            <p class="p-t-20">                
                Así que los  invitamos a estar muy atentos de todos nuestros avances, semanalmente estaremos haciendo nuevos anuncios de todas las características que se estarán actualizando dentro de la plataforma para el disfrute y organización en el ambiente del baile.
            </p>

        </div>

        
    </div>
</div>


<div class="pmb-block">
    
    
</div>

</div>
                <!--<div class="col-sm-6 text-left p-t-5 p-l-20 brd-2">
                    <a onclick="subir();" ng-click="principal=true; panel=false;" class="f-700 p-l-30 c-morado" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anterior</a>
                    <h4 class="p-t-0 p-b-10"> <button onclick="subir();" ng-click="principal=true; panel=false;" class="btn bgm-deeppurple btn-icon waves-effect waves-circle"><i class="zmdi zmdi-arrow-back"></i></button>  Confirguración principal </h4>
                </div>-->

                <div class="col-sm-12 text-right p-t-5 p-r-20 brd-2">
                    <a  data-ui-sref="profile.profile.equipo" onclick="setAnimation('bounceIn', 'b2-tabs');" class="f-700 p-r-30 c-morado" >Siguiente &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <h4 class="p-t-0 p-b-10"> <span class="p-r-5"> Nuestro equipo </span> <button data-ui-sref="profile.profile.equipo" onclick="setAnimation('bounceIn', 'b2-tabs');" class="btn fondo-morado btn-icon waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></button></h4>
                </div>

                
                </div>
<script type="text/javascript">
   $("html, body").animate({ scrollTop: 0},0, "linear", function() {});
</script>