
<div class="bg-gris p-10 footer-text" >
<p> <b><a href="http://innovaprosystem.com/" target="_blank" > www.innovaprosystem.com </a></b></p> 


<p class="f-35">
    <a href="https://www.facebook.com/innova/" target="_blank" title="Facebook">
    	<i class="flaticon-facebook"></i>
    </a>
    <a href="https://www.instagram.com/innovaprosystem/" target="_blank" title="Instagram">
    	<i class="flaticon-instagram"></i>
    </a>
    <a href="https://twitter.com/innovaprosystem" target="_blank" title="Twitter" >
    	<i class="flaticon-twitter" ></i>
    </a> 
    <a href="https://plus.google.com/u/0/545454545" target="_blank" title="Google+" >
    	<i class="flaticon-google-plus"></i>
    </a>
</p>

<!--<ul class="f-menu">
    <li><a href="">Academias afiliadas</a></li>
    <li><a href="">Embajadores</a></li>
    <li><a href="">Socios</a></li>
    <li><a href="">Soporte</a></li>
    <li><a href="">Contacto</a></li>
</ul>-->

<!-- <section id="content" >
        <div class="container">
<div class="col-sm-3">
    <h4>Empresa</h4>

    <p class="m-t-5 m-b-5"><a class="enlace-footer" data-ui-sref="profile.profile.easy-dance" >Sobre la empresa</a></p> 

    <p class="m-t-5 m-b-5"><a data-ui-sref="profile.profile.equipo" >Nuestro equipo</a></p>

    <p class="m-t-5 m-b-5"><a data-ui-sref="profile.profile.faqs" >FAQs</a></p> 

    <p class="m-t-5 m-b-5"><a href="http://innovaprosystem.com/#/embajadores" target="_blank" >Embajadores</a></p>
 
    <p class="m-t-5 m-b-5"><a href="http://innovaprosystem.com/#/noticias" target="_blank" >Noticias</a></p>
</div>

<div class="col-sm-3">
    
    <h4>Easy Dance</h4>

    <p class="m-t-5 m-b-5"  ><a href="http://innovaprosystem.com" target="_blank" >Para academias</a></p> 

    <p class="m-t-5 m-b-5"  ><a data-ui-sref="info.alumnos" >Para alumnos </a></p>

    <p class="m-t-5 m-b-5"  ><a data-ui-sref="info.instructores" >Para instructores </a></p> 

</div>

<div class="col-sm-3">
    
    <h4>Contáctanos</h4>

    <p class="m-t-5 m-b-5">Venezuela , Maracaibo, centro comercial Salto Ángel en la avenida 3 Y – entre la calle 78 y 79 <br><b><a href="mailto:info@innovaprosystem.com">info@innovaprosystem.com</a></b></p>      
    
</div>

<div class="col-sm-3">

    <h4>Soporte</h4>

    <p class="m-t-5 m-b-5"><a data-ui-sref="info.contacto" > Contáctanos</a></p> 
    <p ng-if="user.privilege === 1 || user.privilege === 3 " class="m-t-5 m-b-5" ><a href="documentos/procedimientos/{{ academy.academyProcedures }}" target="_blank" >Manuales de procedimiento</a></p>

    <p ng-if="user.privilege === 1 || user.privilege === 4 " class="m-t-5 m-b-5" ><a href="documentos/normas/{{ academy.academyRules }}" target="_blank" >Normas de mi academia</a></p>

    <p ng-if="user.privilege === 2 || user.privilege === 1" class="m-t-5 m-b-5" ><a data-ui-sref="info.acuerdos" >Acuerdos de servicio</a></p>

    <p ng-if="user.privilege === 2 || user.privilege === 1" class="m-t-5 m-b-5" ><a data-ui-sref="info.politicas">Políticas de uso</a></p> 

    <p class="m-t-5 m-b-5"><a data-ui-sref="info.normas" >Normas de la comunidad</a></p> 

</div>

</div>

</section> -->

<br>

<small class="c-negro">Copyright &copy; 2016 Innova Prosystem, todos los derechos reservados.  </small>

</div>
